.appContainer {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.listContainer {
  width: 400px;
  padding: 20px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inputStyle {
  width: 70%;
}

.addButton {
  width: 25%;
}

.todoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filterStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counterContainer {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.counterStyle {
  margin-bottom: 5px;
}

.listStyle {
  padding-left: 0;
  list-style: none;
}
